/* ========== */
/* = RESETS = */
/* ========== */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

a img, fieldset {
  border: 0; }

body {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif; }

img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.accessible {
  display: none; }

button,
label {
  cursor: pointer; }

textarea,
input,
button,
legend {
  outline: none;
  font-family: Arial, Helvetica, sans-serif; }

input[type="text"],
textarea {
  -webkit-appearance: none; }

legend {
  display: block; }

.inline-block, .btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  letter-spacing: 0;
  word-spacing: 0; }

.reset-inline-block {
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

body {
  font-size: x-small;
  max-width: 952px;
  margin: 0 auto;
  padding: 0 10px; }

.soft_border, .text_field input, .btn {
  border: 1px solid #ddd; }

.gray_border, .embuddy, .node_contents {
  border: 1px solid #ccc; }

.embuddy {
  display: block; }

.embuddy, .node, .node_contents {
  border-radius: 10px; }

.node {
  margin: 5px; }

.node .node {
  margin: 5px 0 5px 20px; }

.node_utils {
  display: none; }

.equals {
  float: left;
  width: 10%;
  text-align: center;
  display: block; }

.node_font_sizes {
  width: 100%;
  float: left; }

.node_contents {
  font-size: x-small;
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 10px; }
  .node_contents .node_utils {
    display: block; }
  .node_contents .node_font_sizes {
    width: auto; }
  .node_contents .equals {
    font-size: 2.5em;
    line-height: 41px;
    width: auto;
    padding: 0 5px; }
  .node_contents .node_utils {
    float: right; }
  .node_contents .text_field input {
    font-size: 2.5em; }
  .node_contents .btn {
    font-size: 2.5em; }

.text_field {
  float: left; }
  .text_field input {
    padding: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    width: 100%;
    display: block; }

.btn {
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 24px;
  padding: 0.1em 0.7em;
  box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.075);
  color: #000;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #e6e6e6 100%);
  /* W3C */ }

.icon_btn {
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 0;
  line-height: 36px; }
