<fieldset class="node" draggable="true" id="<%="node_#{@px}-#{em}"%>">
  <div class="node_contents">
    <div class="node_font_sizes">
      <span class="text_field">
        <input class="node_px" type="text" value="<%=@px%>px"/>
      </span>
      <span class="equals">=</span>
      <span class="text_field">
        <input class="node_em" type="text" value="<%=@em%>em"/>
      </span>
    </div>
    <div class="node_utils">
      <a href="#" class="btn btn-delete">Delete</a>
      <a href="#" class="btn btn_plus icon_btn">+</a>
    </div>
  </div>
  <div class="node_children">
  <% if block_given? %>
    <%= yield %>
  <% end %>
  </div>
</fieldset>