@import "partials/mixins";
@import "partials/reset";

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.inline-block {
  @include inline-block;
  letter-spacing:0;
  word-spacing:0;
}

.reset-inline-block {
  letter-spacing: -.31em;
  word-spacing: -.43em;
}

body{
  font-size:x-small;
  max-width:952px;
  margin:0 auto;
  padding:0 10px;
}

h1{
  padding: 20px 0;
  font-size:2.5em;
}

.soft_border{
  border:1px solid #ddd;
}

.gray_border{
  border:1px solid #ccc;
}

.embuddy{
  display:block;  
  @extend .gray_border;
}

.embuddy, .node, .node_contents{
  border-radius:10px;
}

$node_margin:5px;

.node{
  margin:$node_margin;
  cursor: move;
}

.node .node{
  margin:$node_margin 0 $node_margin 20px;
}

.node_utils{
  display:none;
}


.equals{
  float:left;
  width:10%;
  text-align:center;
  display:block;
}

.node_font_sizes{
  width:100%;
  float:left;
}

.node_contents{
  $font_size:2.5em;
  @extend .gray_border;
  font-size:x-small;
  overflow:hidden;
  background-color:#f5f5f5;
  padding:10px;
  
  .node_utils{
    display:block;
  }
  
  .node_font_sizes{
    width:auto;
  }
  
  .equals{
    font-size:$font_size;
    line-height:41px;
    width:auto;
    padding:0 5px;
  }
  
  .node_utils{
    float:right;
  }
  
  .text_field input{
    font-size:$font_size;
  }
  
  .btn{
    font-size:$font_size;
  }
}

.node.dragging{
  opacity:0.2;
//  display:none;
}

.over .node_contents{
  border-style:dashed;
}

.text_field{
  float:left;
  input{
    @extend .soft_border;
    padding:5px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius:3px;
    width:100%;
    display:block;
  }
}

.btn{
  @extend .inline-block;
  @extend .soft_border;
  text-decoration:none;
  font-size:1.2em;
  border-radius:24px;
  padding:0.1em 0.7em;
  
  box-shadow:inset -1px 2px 2px rgba(0, 0, 0, 0.075);
  color:#000;
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e6e6e6 100%); /* W3C */
}

.btn_plus{
}

.icon_btn{
  width:36px;   
  height:36px;
  text-align:center;
  padding:0;
  line-height:36px;
}